body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    justify-content: center;
    align-items: center;
    height: 800px;
    background: lightgrey;
    display: flex;
    
}

.container {
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow:  lightblue;
    text-align: center;
    
}

input {
    width: 304px;
    margin: 6px ;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid grey;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: cornflowerblue;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: blue ;
}

.result p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}